
<script type="text/javascript">
	function f() {
		var w = document.getElementById("what");
		w.innerText = "Yandex";
		var f = document.getElementById("form");
		f.action = "https://yandex.ru/search";
		var t = document.getElementById("txt");
		t.name = "text";
	}

	function g() {
		var w = document.getElementById("what");
		w.innerText = "MailRu";
		var f = document.getElementById("form");
		f.action = "https://go.mail.ru/search";
		var t = document.getElementById("txt");
		t.name = "q";
	}

</script>


<button onclick="f()">Yandex</button>
<button onclick="g()">MailRu</button>


<form id="form" action = "https://go.mail.ru/search" method = "get" >
	<span id="what">
		Mailru  
	</span>
	
	<input id="txt" type = "text" name = "q" />
	<input type = "submit" value="search">
</form>

 