<#ftl encoding="Windows-1251"/>
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Number</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script type='text/javascript' src='/js/ajaxReq.js'></script>
    <script type='text/javascript' src='/static/js/bootstrap.bundle.min.js' defer></script>

</head>
<body>


        <p id="number">Where is your Number? Где число?
        </p>


    <div>
            <button onclick="send()">get Number!</button>
    </div>

</body>
</html>
