<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
</head>
<body>
    <#if post??>
        <p>${post}</p>
        <p>author: ${post.user.name}<br>
            published: ${post.publishTime}
        </p>
        <p>
            title: ${post.title}<br>
            text: ${post.text}
        </p>


        <#if is_owner>
            <form method='post' action='/post/${post.id}'>Update post:<br>
                <input type='text' name='title'>title
                <div>
                    <input type='text' name='text'>text
                </div>
                <button type='submit'>update</button>
            </form>

           <div>
               <form action='/post/${post.id}' method='post'>

                   <button type='submit'>Delete post</button>
           </div>

        </#if>


    <#else>
        <form method='post' action='/post'>Create a post:<br>
            <input type='text' name='title'>title
            <div>
                <input type='text' name='text'>text
            </div>
            <button type='submit'>publish</button>
        </form>
    </#if>


</body>
</html>


