
.fixedTop {
  position: fixed;
  top: 0;
  /*width: 100%;*/
  height: 50px;
  /*background-color: rgba(255,255,255,1);*/
   
  }

.fixedTop div{
	display: inline;
	margin-right: 50px;

	/*background-color: rgba(0,0,0,.25);*/
}
.section{
	margin-top: 50px;
}

.section td{
	background-color: rgba(0,0,0,.25);
	width: 16.6%;
}
.channelLogo{
	width: 30px;
	height: 15px;
}

.daySchedule p{
	background-color: white;
	/*margin: 0 auto; */

}

.greyBackground{
	background-color: rgba(0,0,0,.25);
}